<div class="container container-bgk container-padding">
    <h1 class="secciones">Consulta de Stock</h1>
    <form class="" name="consultarStockForm" form-id="mv-consulta-stock">
        <div class="form-container-wrapper">
            <div class="form-flex-between">
                <div class="input">
                    <label for="origen">Sucursal</label>
                    <select name="origen" id="origen" ng-model="$ctrl.sucursal"
                            ng-options="sucursal as sucursal.nombre for sucursal in $ctrl.sucursales"
                            ng-change="$ctrl.loadStockPorSucursal();$ctrl.excelToDonwload='';" >
                    </select>
                </div>

                <div class="input">
                    <div class="back-pedidos">
                        <label class="label--checkbox" ng-click="$ctrl.sinStock=!$ctrl.sinStock;$ctrl.loadStockPorSucursal();">
                            <input type="checkbox" class="checkbox" id="check-sinStock" ng-checked="$ctrl.sinStock">Sin Stock
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-flex-between" style="margin-top: 30px;">
                <button class="btn-excel" ng-click="$ctrl.tableToExcel();">Generar Excel</button>
            </div>
        </div>
    </form>

    <table id="tablaStock">
        <thead>
        <tr>
            <th>Producto</th>
            <th>Proveedor</th>
            <th>Sucursal</th>
            <th>Actual</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $ctrl.stocks | filter:$ctrl.filtro">
            <td class="">{{row.nombre}}</td>
            <td class="">{{row.nombreProveedor}}</td>
            <td class="">{{row.stocks[0].nombreSucursal}}</td>
            <td class="">{{row.stocks[0].cant_actual}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <div class="table-td">
                        <span>
                            <button class="paginacion-primera" ng-click="$ctrl.first();"></button>
                            <button class="paginacion-ant" ng-click="$ctrl.prev();"></button>
                        </span>
                        <span class="paginacion-paginas">
                            <span>{{'PAGE' | xlat}} {{$ctrl.pagina}} {{'OF' | xlat}} {{$ctrl.paginas}}</span>
                        </span>
                        <span class="paginacion-go-to">{{'GO_TO' | xlat}}
                            <input type="number" ng-model="$ctrl.pagina" ng-keyup="$ctrl.goToPagina();"
                                   class="input-paginacion">
                        </span>
                        <span>
                            <button class="paginacion-sig" ng-click="$ctrl.next();"></button>
                            <button class="paginacion-ultima"ng-click="$ctrl.last();"></button>
                        </span>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
    <!--<div class="botonera">
        <button class="boton-ok" ng-click="$ctrl.save();">
            <i class="fa fa-check" aria-hidden="true"></i>
        </button>
    </div>-->
</div>



