<div class="container" ng-class="{'form-container':$ctrl.detailsOpen}">
    <div ng-class="{'form-lista':$ctrl.detailsOpen}">
        <table>
            <thead>
            <tr>
                <th>Proveedor</th>
                <th>Fecha Pedido</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in $ctrl.pedidos | filter:$ctrl.filtro | limitTo:$ctrl.limit:$ctrl.start"
                ng-click="row.pedido_id=''+row.pedido_id;$ctrl.pedido=row;$ctrl.detailsOpen=true;">
                <td class="">{{row.proveedor_nombre}}</td>
                <td class="">{{row.fecha_pedido}}</td>
                <td class="">{{row.total | currency}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <div class="table-td">
                    <span>
                        <button class="paginacion-primera" ng-click="$ctrl.first();"></button>
                        <button class="paginacion-ant" ng-click="$ctrl.prev();"></button>
                    </span>
                    <span class="paginacion-paginas">
                        <span>{{'PAGE' | xlat}} {{$ctrl.pagina}} {{'OF' | xlat}} {{$ctrl.paginas}}</span>
                    </span>
                    <span class="paginacion-go-to">{{'GO_TO' | xlat}}
                        <input type="number" ng-model="$ctrl.pagina" ng-keyup="$ctrl.goToPagina();"
                               class="input-paginacion">
                    </span>
                    <span>
                        <button class="paginacion-sig" ng-click="$ctrl.next();"></button>
                        <button class="paginacion-ultima"ng-click="$ctrl.last();"></button>
                    </span>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
        <!--<div class="botonera">
            <button type="button" class="boton-agregar" ng-click="$ctrl.pedido = {pedidos_detalles:[], total:0};$ctrl.detailsOpen=true;" title="Nuevo">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>-->
    </div>

    <form class="form-abm" form-id="pago-proveedores" ng-class="{'form-open':$ctrl.detailsOpen}">
        <div class="detalle-container" >
            <mv-pago-proveedores pedido="$ctrl.pedido"></mv-pago-proveedores>
        </div>
    </form>
</div>

